.loading {
  background-color: rgba(0, 0, 0, 0.5);
  color: #FFFFFF;
  font-size: 200px;
  height: 100%;
  left: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;

  .loading-content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 200px;
    line-height: 200px;
  }
}