.Drop {
    float: left;
    padding: 0 10px 20px 10px;
    width: 12.5%;
}

.Drop.ignored {
    display: none;
}

.Drop.ignored.showFilter {
    display: block;
}

@media (min-width: 2400px) {
    .Drop { width: calc(100% / 12); }
}

@media (min-width: 1200px) and (max-width: 2399px) {
    .Drop { width: calc(100% / 8); }
}

@media (min-width: 980px) and (max-width: 1199px) {
    .Drop { width: calc(100% / 5); }
}

@media (min-width: 768px) and (max-width: 979px) {
    .Drop { width: calc(100% / 4); }
}

@media (min-width: 480px) and (max-width: 767px) {
    .Drop { width: calc(100% / 3); }
}

@media (max-width: 479px) {
    .Drop { width: calc(100% / 2); }
}

.Drop .DropBorder {
    border: 1px solid black;
    border-radius: 5px;
    overflow: auto;
    position: relative;
    width: 100%;
}

.Drop .DropContent {
    padding: 10px;
}

.Drop .DropIconBox {
    margin-bottom: 10px;
    padding-top: 110%;
    position: relative;
    width: 100%;
}

.Drop .DropIcon {
    cursor: pointer;
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.Drop .DropIndicator {
    font-size: 18px;
    font-weight: bold;
    left: 10px;
    pointer-events: none;
    position: absolute;
    text-shadow: -1px 0 #FFF, 0 1px #FFF, 1px 0 #FFF, 0 -1px #FFF;
    top: 10px;
}

.Drop .DropQuantity {
    bottom: 10px;
    font-size: 16px;
    font-weight: bold;
    pointer-events: none;
    position: absolute;
    right: 10px;
    text-shadow: -1px 0 #FFF, 0 1px #FFF, 1px 0 #FFF, 0 -1px #FFF;
}

.Drop .DropInput {
    margin-bottom: 10px;
    text-align: center;
}

.Drop .DropToggle {
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    display: none;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}

.Drop.showFilter .DropToggle {
    display: block;
}

.Drop .DropToggle .DropToggleIcon {
    color: #FFFFFF;
    font-size: 60px;
    height: 60px;
    margin: auto;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
}